USE [master]
GO
/****** Object:  Database [ORIONDB]    Script Date: 24/2/2020 15:22:41 ******/
CREATE DATABASE [ORIONDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ORIONDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ORIONDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ORIONDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ORIONDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ORIONDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ORIONDB]
GO
/****** Object:  Table [dbo].[TBLDOMAIN]    Script Date: 24/2/2020 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDOMAIN](
	[domainID] [int] IDENTITY(1,1) NOT NULL,
	[domainNAME] [nvarchar](50) NOT NULL,
	[domainDBS] [datetime] NOT NULL,
	[domainDBT] [datetime] NOT NULL,
	[domainCUSTOMER] [nvarchar](50) NOT NULL,
	[domainDETAIL] [nvarchar](100) NULL,
	[domainHBS] [datetime] NOT NULL,
	[domainHBT] [datetime] NOT NULL,
	[domainSELLER] [nvarchar](50) NOT NULL,
	[hostDAY] [int] NULL,
	[userID] [int] NOT NULL,
 CONSTRAINT [PK_TBLDOMAIN] PRIMARY KEY CLUSTERED 
(
	[domainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLLOG]    Script Date: 24/2/2020 15:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLLOG](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userNAME] [nvarchar](50) NOT NULL,
	[userPASS] [nvarchar](8) NOT NULL,
	[rolID] [int] NULL,
 CONSTRAINT [PK_TBLLOG] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLROLS]    Script Date: 24/2/2020 15:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLROLS](
	[rolID] [int] NOT NULL,
	[rolNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_TBLROLS] PRIMARY KEY CLUSTERED 
(
	[rolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLLOG]  WITH CHECK ADD  CONSTRAINT [FK_TBLLOG_TBLROLS] FOREIGN KEY([rolID])
REFERENCES [dbo].[TBLROLS] ([rolID])
GO
ALTER TABLE [dbo].[TBLLOG] CHECK CONSTRAINT [FK_TBLLOG_TBLROLS]
GO
USE [master]
GO
